/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #000000;
    color: #9ad79b;
  }

  header {
    border-color: #9ad79b;
    border-width: 1px;
    border-style: dashed;
    font-size: 0.7em;
    padding: 10px;
    width: 100%;
    background-color: black;
    position: fixed;
    z-index: 1;
  }

  .content {
    border-color: #9ad79b;
    border-width: 1px;
    border-style: dashed;
    width: 100%;
    padding: 10px;
    position:relative;
    top: 70px;
    z-index: 0;
  }

  .content > h2 {
    font-size: 1.1em;
  }
  .content > p {
    font-size: 0.8em;
  }

  .content > button{
    font-size: 0.7em;
  }

  .sidebar {
    width: 110px;
    border-color: #9ad79b;
    border-width: 1px;
    border-style: dashed;
    padding: 10px 0px 10px 20px;
    margin: 90px 10px 20px 10px;
    position: relative;
    left: 81%;
    z-index: 0;
  }

  .sidebar > h3 {
    font-size: 0.8em;
  }

  .sidebar > ul {
    font-size: 0.7em;
  }

  .features {
    border-color: #9ad79b;
    border-width: 1px;
    border-style: dashed;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
  }

  .features > h2 {
    font-size: 1.1em;
  }

  .features > div {
    font-size: 0.8em;
  }

  .feature > button {
    font-size: 0.8em;
  }